.main div.mainMenu {
  background-color: #696969;
  height: 115px;
  margin-bottom: 20px;
}

.main div.mainMenu section.contact {
  background-color: #696969;
  display: flex;
  justify-items: flex-end;
  justify-content: flex-end;
  margin-right: 150px;
  font-size: 8px;
  color: #363636;
}

.main div.mainMenu section.contact * {
  margin-top: 2px;
}

.main div.mainMenu section.contact a {
  text-decoration: none;
}

.main div.mainMenu section.contact svg.github {
  margin-right: 4px;
  margin-top: 4px;
}

.main div.mainMenu section.contact h1.github {
  margin-top: 4px;
  color: black;
}

.main div.mainMenu section.contact svg.linkedin {
  margin-left: 26px;
  margin-right: 4px;
  margin-top: 4px;
}

.main div.mainMenu section.contact h1.linkedin {
  margin-top: 4px;
  color: black;
}

.main div.mainMenu section.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 150px;
  margin-left: 150px;
}

.main div.mainMenu section.menu a.perfil img {
  width: 50px;
  border-radius: 25px;
  margin-top: 14px;
}

.main section.userTopic {
  display: flex;
  justify-content: left;
  justify-items: left;

  margin-left: 62px;
  margin-right: 60px;
  margin-bottom: 8px;
}

.main section.userTopic img {
  width: 22px;
  height: 22px;
  border-radius: 12.5px;
}

.main section.userTopic h3 {
  margin-left: 6px;
  margin-top: 5px;

  font-size: 12px;
}

.main section.description {
  margin-left: 60px;
  margin-right: 60px;
  background-color: #9fa4a8;
  border-radius: 10px;
}

.main section.description h1 {
  font-size: 28px;

  margin-bottom: 12px;
  margin-left: 8px;
}

.main section.description h2 {
  font-size: 16px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.main section.actions {
  margin-left: 60px;
  margin-right: 60px;
  font-size: 12px;
}

.main section.actions svg {
  margin-right: 3px;
}

.main section.actions button {
  border-radius: 3px;
  color: #363636;
  background-color: #696969;
  border: none;
  font-size: 12px;
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  font-weight: 700;
  line-height: 20px;
  width: 85px;
  height: 22px;
}

.main section.actions textarea {
  max-width: 100%;
  width: 100%;
  height: 80px;
  border-radius: 8px;
}
