div.main section.menu {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
  margin-top: 30px;
  margin-left: 60px;
  margin-bottom: 32px;
}

div.main section.menu section.userSearch {
  display: flex;
  justify-content: space-between;
}

div.main section.menu section.userSearch input.search {
  width: auto;
  height: 25px;
  border-radius: 8px;
  margin-right: 8px;
}

div.main section.menu section.userSearch svg {
  margin-top: 5px;
}

.main section.cases {
  margin-left: 60px;
  margin-right: 80px;
}

.main section.newCase {
  display: flex;
  justify-content: flex-end;
  justify-items: flex-end;
  margin-right: 80px;
  margin-bottom: 22px;
}

.main section.newCase h3 {
  margin-top: 22px;
  margin-left: 6px;
}

.main section.newCase button.newCase {
  height: 32px;
  width: 32px;
  background: #696969;
  border: 0;
  border-radius: 7px;
  color: #fff;
  font-weight: 350;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 45px;
  transition: filter 0.2s;
}

.main section.newCase button.newCase:hover {
  filter: brightness(90%);
}

.main section.cases a {
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-bottom: 8px;
}

.main section.cases hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
