.registerContainer {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center; /*Alinha verticalmente*/
  justify-content: center; /*Alinha horizontalmente*/
}

.registerContainer section.form {
  width: 100%;
  max-width: 350px;
  margin-left: 150px;
}

.registerContainer section.form form a {
  display: flex;
  align-items: center;
  margin-top: 22px;
  text-decoration: none;
  font-size: 18px;
  color: #363636;
  transition: opacity 0.2s;
  font-weight: 500;
}

.registerContainer section.form form a:hover {
  opacity: 0.8;
}

.registerContainer section.form form a svg {
  margin-right: 8px;
}

.registerContainer form h1 {
  margin-bottom: 22px;
  font-size: 32px;
}

.registerContainer form input {
  margin-bottom: 14px;
}
